{% extends "home.html"%}


{% block titre%} Accueil  {%endblock%}

{% block container%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 messageliste">

        </div>
        <div class="col-md-6">
            <div class="col-md-offset-2 col-md-10">
                <blockquote>
                    <textarea name="sms" id="sms" cols="4"  class="form-control"></textarea>
                </blockquote>
            </div>
            <div class="col-md-offset-9 col-md-3">
                <button type="button" class="btn btn-success" id="envoyer" >Envoyer</button>
            </div>

        </div>
    </div>
</div>


</div>
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
$(document).ready(function() {
        let data = JSON.parse(localStorage.getItem('tchat-user'));
        if( !data || !data.salon || !data.username){
            document.location.href="/";
        }
        function waitForMsg(){
            $.ajax({
                type: "GET",
                url: "https://tchat-salon.herokuapp.com/messages/"+data.salon,
                async: true,
                cache: false,
                success: function(data){
                     console.log(data);
                    $(".messageliste").empty();
                    for(let i=0; i<data.length;i++){
                        $(".messageliste").append("<blockquote >"+ data[i].message+ "<br> <small class='pull-right'>"+ data[i].username+"</small> </blockquote>")
                    }
                    setTimeout(waitForMsg(),1000);
                },
                error: function(XMLHttpRequest,textStatus,errorThrown) {
                   setTimeout(waitForMsg(),15000);
                }
            });
        }

        $('#envoyer').click(function(){
            let sms = document.getElementById("sms").value;
            if(sms!=""){
                data.message= sms;
                $.ajax({
                    type: 'POST',
                    url: 'https://tchat-salon.herokuapp.com/messages',
                    data: data,
                    success : function(response){
                        console.log(response);
                        if(response=="good"){
                            document.getElementById("sms").value="";
                        }
                    },
                    error : function(response){
                        console.log('Something went wrong.');
                        console.log(response);
                    },
                    cache: false
                });

            }
        });



        waitForMsg();
    });
</script>




{%endblock%}






